<h3>Sign Up</h3>

<div class="mode"><label for="id_refer">User Mode</label><select name="refer" id="id_refer">
    <option selected="selected">choose your mode</option>
    <option value="student">Student</option>
    <option value="professor">Professor</option>
    </select>
</div>

<form method="post">
    {% csrf_token %}
    Github Id: {{form.id}}
    Name: {{form.name}}
<br/>

<div id="student" style="display:none">
    Student Number:{{ form.other }}
</div>

<div style="text-align: center;">
    <button type="submit" class="button-main">Next</button>
</div>

</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"> 
  $('#id_refer').on('change', function() {
    if (this.value == 'student' ) {
        $('#student').show();
    }
    else {
        $('#student').hide();
    }
  });
</script>

