{% block content %}
    <h2> [Professor] </h2>
    {% if user.is_authenticated %}
             <h4 class="display-4">Hello, {{ user.username }}</h4>
	     <p><b> Waiting List for Permission </b></p>
                 {% for pf in pmslist %}
                     <li>{{pf.professor_id}} {{pf.professor_name}}
                     <a href="/permission/{{pf.professor_id}}/">{{pf.status}}</a></li>
                  {% endfor %}
              <p><font color="blue"><b> Homeworks made by me</b></p>
                  {% for hw in hws %}
                      <li> <a href="/managehw/{{hw.hwname}}/">{{hw.hwname}}</a></li>
                  {% endfor %}
             {% else %}
                 <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
            {% endif %}
{% endblock content %}
