{% block content %}
    <h2> [Professor] </h2>
    {% if user.is_authenticated %}
             <h4 class="display-4">Hello, {{ user.username }}</h4>
             <p><font color="green"><b> Students </b></p>
                 {% for st in std %}
                     <p> {{st.student_id}} </p>
                     <p> {{st.student_name}} </p>
                 {% endfor %}
              <p><font color="blue"><b> Homeworks </b></p>
                  {% for hw in hws %}
                      <p> {{hw.hw_name}} </p>
                  {% endfor %}
             {% else %}
                 <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
            {% endif %}
{% endblock content %}
